<footer>
    <div class="footer-container">
        <div class="footer-logo">
            <img src="/img/sample-logo.png" alt="Machine Systems Logo">

        </div>
        <div class="footer-content">
            <ul>
                <li><a href="https://guarded-river-22011.herokuapp.com/">HOME</a></li>
                <li><a href="https://guarded-river-22011.herokuapp.com/about">ABOUT</a></li>
                <li><a href="https://guarded-river-22011.herokuapp.com/services">SERVICES</a></li>
                <li><a href="https://guarded-river-22011.herokuapp.com/contact">CONTACT</a></li>
            </ul>
            <div>
                <p>&copy; 2018 Machine Systems Inc. All Rights Reserved</p>
            </div>
        </div>

    </div>
</footer>